In [7]:
#I commented out my starter code to retry loading in the csv. 
#Was able to load the CSV and create a dataframe to show the data was loaded.
# Dependencies and Setup
import pandas as pd
import numpy as np

# Reference the file where the CSV is located
purchase_data_csv_path = "/Users/gabriellamartin/Downloads/purchase_data.csv"

# Import the data into a Pandas DataFrame
purchase_data_df = pd.read_csv(purchase_data_csv_path)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [ ]:
#Starter code from assignment I tried using
#pd = pd.read_csv('purchase_data.csv')

# File to Load (Remember to Change These)
#file_to_load = "/Users/gabriellamartin/Downloads/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
#purchase_data.csv = purchase_data.csv("/Users/gabriellamartin/Downloads/purchase_data.csv")

In [8]:
#Player Count
#Display the total number of players

#Calculate the number of players
player_demographics = purchase_data_df.loc[:, ["Gender", "SN", "Age"]]
player_demographics = player_demographics.drop_duplicates()
num_players = player_demographics.count()[0]

#total number of players
pd.DataFrame({"Total Players": [num_players]})

   Total Players
0            576

In [9]:
# Purchasing Analysis (Total)
# Run basic calculations to obtain number of unique items, average price, etc.
#Using pandas functions to calculate average item price, total purchase value, purchase count, and item count
average_item_price = purchase_data_df["Price"].mean()
total_purchase_value = purchase_data_df["Price"].sum()
purchase_count = purchase_data_df["Price"].count()
item_count = len(purchase_data_df["Item ID"].unique())
# Create a summary data frame to hold the results
summary_table = pd.DataFrame({"Number of Unique Items": item_count,
                              "Average Price": [average_item_price],
                              "Number of Purchases": [purchase_count],
                             "Total Revenue": [total_purchase_value]})
# Optional: give the displayed data cleaner formatting
# Display the summary data frame
summary_table

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [25]:
# Gender Demographics
import pandas as pd
gender_data = purchase_data.groupby(["Gender"])
gender_data.count()

#Percentage and Count of Male Players
male = len(purchase_data.loc[purchase_data.csv["Gender"]=="Male", :])
percent_male = (male/(male + female + non_dis)) * 100
#Percentage and Count of Female Players
female = len(purchase_data.loc[purchase_data.csv["Gender"]=="Female", :])
percent_female = (female/(male + female + non_dis)) * 100
#Percentage and Count of Other / Non-Disclosed
non_dis = len(purchase_data.loc[purchase_data.csv["Gender"]=="Other / Non-Disclosed", :])
percent_non = (non_dis/(male + female + non_dis)) * 100
#Creating a data frame
gender_data_df = pd.DataFrame(
[[percent_female, female],
[percent_male, male],
[percent_non, non_dis]],
index=["Female","Male", "Other / Non-Disclosed"],
columns=["Percentage of Players", "Total Count"])

NameError: name 'purchase_data' is not defined

In [23]:
#Purchasing Analysis (Gender)
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

#Create a summary data frame to hold the results

#Optional: give the displayed data cleaner formatting

#Display the summary data frame

In [ ]:
#Age Demographics
#Establish bins for ages

#Categorize the existing players using the age bins. Hint: use pd.cut()

#Calculate the numbers and percentages by age group

#Create a summary data frame to hold the results

#Optional: round the percentage column to two decimal points

#Display Age Demographics Table

In [ ]:
#Purchasing Analysis (Age)
#Bin the purchase_data data frame by age

#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below

#Create a summary data frame to hold the results

#Optional: give the displayed data cleaner formatting

#Display the summary data frame